<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-special">
    <div class="container-fluid">
      <!-- Left side with your title -->
      <a class="navbar-brand" href="#">Shamkhal Hajiyev - Data Scientist | AI & ML Engineer | Azure Cloud | NLP | Deep Learning</a>

      <!-- Navbar Toggle for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right side with navigation links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/cv.html">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/skills.html">Skills</a>
          </li>
          <!-- Uncomment the following if you want to add a Projects section later -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/pages/projects.html">Projects</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
