body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden; /* This ensures that the border-radius applies to the children as well */
}

.navigation {
    background: #333;
    color: white;
}

.navigation ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    padding: 10px 20px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.profile-picture {
    max-width: 150px; /* Adjust this to make your image smaller or larger */
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
}

.social-links a:hover {
    color: #0077b5; /* LinkedIn color */
}
