:root {
    --color-bg: #ffffff;
    --color-fg: #000000;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header {
    text-align: center;
    padding-bottom: 20px;
}

.profile-picture {
    width: 200px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
}

.bio, .social-links {
    text-align: center;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    color: inherit; /* Inherits color from body */
    font-size: 24px; /* Size of social icons */
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #eaeaea;
}

/* Dark theme styles */
body.dark-mode {
    background-color: var(--color-bg); /* Dark theme background */
    color: var(--color-fg); /* Dark theme text */
}

body.dark-mode a {
    color: var(--color-fg); /* Dark theme link color */
}

/* Theme toggle button style */
#dark-mode-toggle-1 {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #eee;
    color: #333;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none; /* Removes the outline on focus for a clean look */
}

body.dark-mode #dark-mode-toggle-1 {
    background: #222;
    color: #ddd;
}
