/* General Dark Mode for the body */
body {
    background-color: #121212;
    color: #f1f1f1;
    font-family: 'Helvetica', sans-serif;
    transition: all 0.3s ease-in-out;
    margin: 0;
}

/* Global Layout (Container) */
main.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

/* Header Styling */
header {
    background-color: #1f1f1f;
    color: white;
    padding: 1rem;
}

/* Navbar */
.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    font-weight: bold;
    color: #f1f1f1;
}

.navbar-brand:hover {
    color: #0dcaf0;
}

/* Navbar links */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
}

nav ul li a:hover {
    color: #0dcaf0;
}

/* Footer Styling */
footer {
    background-color: #1f1f1f;
    color: #f1f1f1;
    padding: 1rem;
    border-top: 1px solid #2e2e2e;
    text-align: center;
}

/* GitHub and LinkedIn Icons Styling */
footer .text-light a {
    color: #f1f1f1;
    transition: color 0.3s ease;
}

footer .text-light a:hover {
    color: #0dcaf0;
}

/* Image Pop-Up Modal Styles */
.image-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.close-btn:hover {
    color: #0dcaf0;
}

.image-modal, .image-overlay {
    transition: 0.3s;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .image-modal {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    main.container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
