body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px; /* Adjust the max-width as needed */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    background-color: white;
}


.profile-picture {
    max-width: 100%; /* Ensures image is not bigger than the container */
    height: auto;
    max-height: 300px; /* Adjust max-height to make the image smaller as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular image */
    margin-top: 20px;
}

.bio p, .links a {
    line-height: 1.6;
    display: block; /* Makes each link appear on a new line */
    margin-top: 10px;
}

.links a {
    font-weight: bold;
    color: #1a0dab;
}

.social-links {
    /* Centering the links if you want */
    text-align: center;
    margin-bottom: 20px;
}

.social-links a {
    color: #333; /* Icon color */
    margin: 0 10px;
    font-size: 24px; /* Icon size */
    display: inline-block;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.social-links a:hover {
    color: #0e76a8; /* LinkedIn color, change as needed */
}
