<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shamkhal Hajiyev Personal Webpage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <ul>
                <li><a href="/_layouts/default.html">Profile</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
        <header id="profile">
            <img src="/assets/img/ProfilePhoto.jpg" alt="Shamkhal Hajiyev" class="profile-picture">
            <h1>Shamkhal Hajiyev</h1>
            <p>Welcome to my personal webpage!</p>
        </header>
        <main>
            <!-- Profile content -->
            <section class="bio">
                <p>I am proficient and adaptable Data Scientist with expertise in Machine Learning, Deep Learning, and Econometrics. 
                    I possess a mastery of cloud services and cutting-edge programming languages, facilitating seamless multitasking across projects. 
                    Recognized for my rapid learning ability and exceptional teamwork, 
                    I excel in navigating intricate environments and driving successful outcomes with ease and precision.</p>
            </section>
            <!-- Projects content -->
            <section id="projects">
                <h2>Projects</h2>
                <!-- Add your projects here -->
            </section>
        </main>
        <footer>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/yourusername" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/yourusername" target="_blank" title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <!-- Add other social links here -->
            </div>
        </footer>
    </div>
</body>
</html>
